<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
 
  <display-name>Cookies</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ckserv1</display-name>
    <servlet-name>Ckserv1</servlet-name>
    <servlet-class>Ckserv1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ckserv1</servlet-name>
    <url-pattern>/Ckserv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ckservlet1</display-name>
    <servlet-name>Ckservlet1</servlet-name>
    <servlet-class>Ckserv1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ckservlet1</servlet-name>
    <url-pattern>/Ckservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ckserv01</display-name>
    <servlet-name>Ckserv01</servlet-name>
    <servlet-class>Ckserv01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ckserv01</servlet-name>
    <url-pattern>/Ckserv01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cksv1</display-name>
    <servlet-name>Cksv1</servlet-name>
    <servlet-class>Cksv1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cksv1</servlet-name>
    <url-pattern>/Cksv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cksv2</display-name>
    <servlet-name>Cksv2</servlet-name>
    <servlet-class>Cksv2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cksv2</servlet-name>
    <url-pattern>/Cksv2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cksv02</display-name>
    <servlet-name>Cksv02</servlet-name>
    <servlet-class>Cksv02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cksv02</servlet-name>
    <url-pattern>/Cksv02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ser2</display-name>
    <servlet-name>Ser2</servlet-name>
    <servlet-class>Ser2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ser2</servlet-name>
    <url-pattern>/Ser2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlett2</display-name>
    <servlet-name>Servlett2</servlet-name>
    <servlet-class>Servlett2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlett2</servlet-name>
    <url-pattern>/Servlett2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlett3</display-name>
    <servlet-name>Servlett3</servlet-name>
    <servlet-class>Servlett3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlett3</servlet-name>
    <url-pattern>/Servlett3</url-pattern>
  </servlet-mapping>
</web-app>